:root {
  --color-1: #d5d5d5;
  --color-2: #7d7d7d;
  --color-3: white;
  --color-4: #666;
  --color-5: #00CCFF;
  --color-6: #D400D4;
  --color-glass: rgba(255, 255, 255, 0.45);
  --gap: 1rem;
  --border-radius: .5rem;
  /* VARIABLES DEL CONTENIDO */
  --content-wrap-w: 720px;
  /* VARIABLES DEL FOOTER */
  --footer-figure-w: 6rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 none;
  outline: 0 none;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Nunito", sans-serif;
  display: flex;
  font-size: 14px;
  color: var(--color-4);
  padding: calc(var(--gap) / 2);
  background-image: url("../res/pattern.png");
  animation: move 90s linear infinite;
}

.fa {
  font-size: 50px;
  cursor: pointer;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: gray;
}

.fa:hover {
  color: black;
}

.progress {
  height: 35px;
  width: 100%;
  border-radius: 5px;
  background-color: #e6f3fa;
  margin-bottom: 15px;
}

.progress-bar {
  height: 100%;
  background: red;
  display: flex;
  align-items: center;
  transition: width 0.25s;
  border-radius: 5px;
  justify-content: center;
}

.progress-bar-text {
  margin-left: 10px;
  font-weight: bold;
  color: black;
}

@keyframes move {
  100% {
    background-position: 333px 333px;
  }
}
.anim-rotate-z, .main-div.content .content-wrap-info .resume-list-item-btn::before {
  animation: animRotateZ 1s linear infinite;
}

@keyframes animRotateZ {
  to {
    transform: rotateZ(360deg);
  }
}
.card-style, .main-div.content .content-wrap-info, .main-div.content .content-wrap-figure-figcaption {
  padding: var(--gap);
  background-color: var(--color-3);
  border-radius: var(--border-radius);
}

.main {
  --background-image-selected: linear-gradient(
          315deg
          , var(--color-5)
          , var(--color-6)
      );
  height: 100%;
  width: 100%;
  max-height: 700px;
  max-width: 1000px;
  display: flex;
  margin: auto;
  overflow: hidden;
  flex-flow: column nowrap;
  position: relative;
  border-radius: calc(var(--border-radius) * 2);
  background-image: var(--background-image-selected);
}
.main-div {
  position: relative;
  z-index: 1;
}
.main-div.header {
  background-color: var(--color-glass);
  padding: calc(var(--gap) * 2 / 3);
  text-align: center;
  color: var(--color-3);
  border-radius: calc(var(--border-radius) * 2) calc(var(--border-radius) * 2) 0 0;
}
.main-div.content {
  flex: 1;
}
.main-div.content .content-wrap {
  height: 100%;
  width: var(--content-wrap-w);
  display: flex;
  flex-flow: row nowrap;
  gap: var(--gap);
  margin: 0 auto;
  padding: var(--gap) 0;
  position: relative;
  z-index: 1;
}
.main-div.content .content-wrap-figure {
  flex: 1;
  display: flex;
  flex-flow: column;
  position: relative;
}
.main-div.content .content-wrap-figure-figcaption {
  text-align: center;
}
.main-div.content .content-wrap-figure-figcaption .type-list {
  --type-color: var(--color-1);
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 0.5rem;
}
.main-div.content .content-wrap-figure-figcaption .type-list-item {
  background-color: var(--type-color);
  padding: 0.15rem 1rem;
  border-radius: 1rem;
  text-transform: uppercase;
  text-shadow: 0 0 0.25rem white;
}
.main-div.content .content-wrap-figure-img {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 1rem;
  border-radius: 0.5rem;
  transition: all 0.25s ease;
}
.main-div.content .content-wrap-figure-img:not(:hover) {
  filter: grayscale(0.5);
}
.main-div.content .content-wrap-info {
  flex-basis: 40%;
}
.main-div.content .content-wrap-info .resume-list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  gap: var(--gap);
  height: 100%;
  align-content: space-evenly;
  justify-content: center;
}
.main-div.content .content-wrap-info .resume-list-item {
  flex-basis: calc(100% - var(--gap) / 2);
  text-align: center;
  font-size: 1.1rem;
}
.main-div.content .content-wrap-info .resume-list-item i {
  display: block;
  font-size: 0.8em;
  opacity: 0.7;
}
.main-div.content .content-wrap-info .resume-list-item span {
  font-weight: bold;
}
.main-div.content .content-wrap-info .resume-list-item-btn {
  border-radius: 50%;
  position: relative;
}
.main-div.content .content-wrap-info .resume-list-item-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background-image: linear-gradient(315deg, var(--color-5), var(--color-6));
  animation-play-state: paused;
}
.main-div.content .content-wrap-info .resume-list-item-btn::after {
  content: "";
  background-color: white;
  position: absolute;
  inset: 1px;
  border-radius: 50%;
  transition: all 0.25s ease;
}
.main-div.content .content-wrap-info .resume-list-item-btn i {
  position: relative;
  z-index: 1;
  font-size: 2em;
  transition: all 0.25s ease;
}
.main-div.content .content-wrap-info .resume-list-item-btn:hover::before {
  animation-play-state: running;
}
.main-div.content .content-wrap-info .resume-list-item-btn:hover::after {
  inset: 2px;
}
.main-div.content .content-wrap-info .resume-list-item-btn:hover i {
  font-size: 2.2em;
}
@media (max-width: 748px) {
  .main-div.content .content-wrap {
    flex-flow: column nowrap;
    gap: 0;
    padding: var(--gap);
    width: fit-content;
  }
  .main-div.content .content-wrap-div {
    width: 320px;
  }
  .main-div.content .content-wrap-figure {
    flex-basis: 40%;
    flex-grow: 0;
  }
  .main-div.content .content-wrap-figure-img {
    height: 10rem;
    width: 10rem;
    z-index: 1;
    background-size: contain;
    border-radius: 50%;
    align-self: center;
    margin-top: 1rem;
  }
  .main-div.content .content-wrap-figure::before {
    height: 25%;
    width: 100%;
    background-color: var(--color-3);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .main-div.content .content-wrap-info {
    flex: 1;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }
}
.main-div.footer {
  background-color: var(--color-glass);
}
.main-div.footer {
  border-radius: 0 0 calc(var(--border-radius) * 2) calc(var(--border-radius) * 2);
  padding: var(--gap) 0;
  width: 100%;
  overflow: hidden;
}
.main-div.footer .list {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  overflow: auto;
  gap: var(--gap);
  max-width: var(--content-wrap-w);
  margin: 0 auto;
}
.main-div.footer .list-item-link-figure {
  height: var(--footer-figure-w);
  width: var(--footer-figure-w);
  padding: calc(var(--gap) / 2);
  background-color: var(--color-3);
  border-radius: calc(var(--border-radius) * 2);
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.25s ease 0s;
}
.main-div.footer .list-item-link-figure:not(:hover) {
  filter: grayscale(0.9);
}
@media (max-width: 748px) {
  .main-div.footer {
    padding: var(--gap) var(--gap) 0;
  }
}
@media (max-width: 748px) {
  .main {
    max-height: none;
  }
}

/*# sourceMappingURL=index.css.map */
